/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 100vh;
    font-weight: 400;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
}

/* Top part css */
.top{
    height: 40vh;
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), 
    url('assets/images/natural.jpeg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.budget{
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget_title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
}

.budget_value{
    font-weight: 300;
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.budget_income,
.budget_expenses{
    padding: 12px;
    text-transform: uppercase;
}

.budget_income {
    margin-bottom: 10px;
    background-color: #1D95B5;
}

.budget_expenses {
    background-color: #FF5049;
}

.budget_income-text,
.budget_expenses-text {
    float: left;
    font-size: 13px;
    color: #444;
    margin-top: 2px;
}

.budget_income-value,
.budget_expenses-value {
    letter-spacing: 1px;
    float: left;
}

/* Bottom part css */
.add{
    padding: 14px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f7f7f7;
}

.add_container{
    margin: 0 auto;
    text-align: center;
}

.add_type{
    width: 120px;
    border: 1px solid #e7e7e7;
    height: 44px;
    font-size: 18px;
    color: inherit;
    background-color: #fff;
    margin-right: 10px;
    font-weight: 200;
    transition: border 0.3s;
}

.add_description,
.add_value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add_description { 
    width: 400px;
}

.add_value { 
    width: 100px;
}

.add_btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    margin-left: 10px;
}

.add_btn:active { 
    transform: translateY(2px);
}

.add_type:focus,
.add_description:focus,
.add_value:focus {
    outline: none;
    border: 1px solid #28B9B5;
}

.add_btn:focus { 
    outline: none;
}

/* List */
.container {
    width: 1000px;
    margin: 60px auto;
}

.income {
    float: left;
    width: 475px;
    margin-right: 50px;
}

.expenses {
    float: left;
    width: 475px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

.income-title { 
    color: #28B9B5;
}

.expenses-title { 
    color: #FF5049; 
}

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item:first-child {
     border-top: 1px solid #e7e7e7; 
}

.item:nth-child(even) { 
    background-color: #f7f7f7; 
}

.item_description {
    float: left;
}

.item_value {
    float: left;
    transition: transform 0.3s;
}

.income .item_value,
.income .item_delete--btn {
    color: #28B9B5;
}

.expenses .item_value,
.expenses .item_delete--btn {
    color: #FF5049;
}


.item_delete {
    float: left;
}

.item_delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    display: none;
}

.item_delete--btn:focus {
    outline: none; 
}

.item_delete--btn {
    transform: translateY(2px);
}

.item:hover .item_delete--btn {
    display: block;
}

.item:hover .item_value {
    transform: translateX(-20px);
}

.unpaid {
    background-color: #FFDAD9 !important;
    cursor: pointer;
    color: #FF5049;
}

.unpaid:hover .item_description {
    font-weight: 900; 
}
